.Container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 2rem;
    padding-bottom: 3rem;
    background-color: #e6e6ff;

    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.DisplayWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-left: -8px;
    margin-right: -8px;
}

.MultiColumnWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    margin-left: -8px;
    margin-right: -8px;
}

.Column {
    display: inline-block;
    flex-direction: column;
    flex: 1 0 10px; 
    min-width: 200px;
    padding: 8px;
}

.Row {
    display: block;
    flex-direction: row; 
    padding: 8px;
    color: black;
    border-bottom: 1px solid lightslategray;
}



.Row:last-of-type {
    border-bottom: 1px solid lightslategrey;
}